<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PóPaga: App</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/app.css" />

    <!-- FontAwesome -->
    <script
      src="https://kit.fontawesome.com/d67355562c.js"
      crossorigin="anonymous"
    ></script>

    <!-- Favicon -->
    <link rel="icon" />
  </head>
  <body>
    <nav id="navbar">
      <div id="action-buttons-container">
        <i class="fas fa-th"></i>
        <i class="fas fa-credit-card"></i>
      </div>
      <div id="logout-button-container">
        <i id="logout" class="fas fa-sign-out-alt"></i>
      </div>
    </nav>

    <main id="container">
      <header id="header">
        <a id="nav-logo" href="/app"
          >PóPaga <i class="fas fa-piggy-bank"></i
        ></a>
        <h1>Bem vindo, <%= user.username %>.</h1>
        <div id="themes-container">
          <button id="light" class="theme-button" data-theme="light">
            <i class="fas fa-sun" data-theme="light"></i>
          </button>
          <button id="dark" class="theme-button" data-theme="dark">
            <i class="fas fa-moon" data-theme="dark"></i>
          </button>
        </div>
      </header>
      <div id="content">
        <section id="no-debt">
          <div class="section-label">
            <p>Sem Dívidas</p>
            <button id="add-card"><i class="fas fa-plus"></i></button>
          </div>
          <%- include('./partials/cards.ejs') %>
        </section>
        <section id="to-be-paid">
          <div class="section-label">
            <p>Em aberto</p>
          </div>
          <%- include('./partials/cards.ejs') %>
        </section>
        <section id="paid-off">
          <div class="section-label">
            <p>Quitado</p>
          </div>
          <%- include('./partials/cards.ejs') %>
        </section>
        <section id="archived">
          <div class="section-label">
            <p>Arquivados</p>
          </div>
          <%- include('./partials/cards.ejs') %>
        </section>
      </div>
    </main>
    <script src="/scripts/theme.js"></script>
    <script src="/scripts/logout.js"></script>
  </body>
</html>
